@import "./variables";
@import "./mixin";

.button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    border-radius: $border-radius-drawer;
    text-transform: capitalize;
    color: $color-secondary-light-2;
    // @include neumorphic();
    width: auto;

    border: none;

    font-style: normal;
    font-weight: 340;
    font-size: 1.2rem;

    padding: .8rem 2.4rem;
    &-secondary{
      background-color: $color-secondary-dark-1;
      

      // &:active{
      //   @include neumorphic-inner-secondary();
      // }
    }
  }

  &--dark{
    @include neumorphic();
    background-color: $color-primary-dark;
    &:active{
      @include neumorphic-inner();
    }
  }

  &--light{
    background-color: $color-primary;
    @include neumorphic-primary();
    &:active{
      @include neumorphic-primary-inset();
    }
  }

  &--copy{
    // width: 8rem;
  }
  

  &--back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    animation: 0.8s ease 0s 1 normal forwards scale-out;

    &:hover {
      animation: 0.8s ease 0s 1 normal forwards scale-in;
    }
  }

  &--1 {
    width: 100%;
  }

  &--icon {
    position: relative;
    font-size: $size-icon-medium;
    @include flexbox();
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-drawer;
  }

  &--neumorphic{
    @include neumorphic();
    // background-color: aliceblue;
  }

  &--noti-open{
    background-color: $color-primary;
    border-radius: $border-radius-drawer ;
    z-index: 51;
  }

  &--close{
    position: absolute;
    top: auto;
    right: .5rem;

    &-profile {
      position: absolute;
      top: 0.5rem;
      right: .5rem;
    }
  }
}
