@import "./variables";
@import "./animations";
@import './mixin';


.dropdown {
  position: relative;
  width: 100%;
  @include flexbox();
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 1.4rem;
  user-select: none;
  z-index: 10;
  border-radius: 0 0 $border-radius-drawer $border-radius-drawer;
  animation: .8s ease 0s 1 normal forwards slide-in-top-dropdown;

  &__bar {
    position: relative;
    cursor: pointer;
    width: 94%;
    height: 4rem ;
    padding: 1rem 2rem;
    z-index: 10;
    border-radius: 0 0 $border-radius-drawer $border-radius-drawer;
    font-size: 1.4rem;
    @include neumorphic();

    @include flexbox();
    justify-content: space-between;
    background-color: $color-primary-dark;
    color: $color-text;
    
  }

  &__default{
    text-transform: capitalize;
  }

  &__options {
    position: absolute;
    width: 94%;
    top: 2rem;
    left: 3%;
    padding-top: 2rem;

    transform: all .8s ease;
    border-radius: 0 0 $border-radius-drawer $border-radius-drawer;
    background-color: $color-primary;
  }

  &__option {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    color: $color-text;
    text-align: center;
    border-radius: 0 0 $border-radius-drawer $border-radius-drawer;

    &:nth-child(odd) {
      background-color: $color-primary;
      // animation: 0.1s ease 0s 1 normal forwards change-color-bg-primary-out;

      &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
        // animation: 0.8s ease 0s 1 normal forwards change-color-bg-primary-in;
      }
    }

    &:nth-child(even) {
      background-color: $color-primary;
      // animation: 0.1s ease 0s 1 normal forwards change-color-bg-secondary-out;

      &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
        // animation: 0.8s ease 0s 1 normal forwards change-color-bg-secondary-in;
      }
    }

    &:last-child(){
      border-radius: 0 0 $border-radius-drawer $border-radius-drawer;
    }
  }
}
