@import "./variables";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin blob {
}

@mixin neumorphic(){
  border-radius: $border-radius-drawer;
background: $color-primary-dark;
box-shadow:  11px 11px 22px #26263d,
             -11px -11px 22px #383859;
}

@mixin neumorphic-inset(){
  border-radius: $border-radius-drawer;
background: $color-primary-dark;
box-shadow:  11px 11px 22px #26263d,
             -11px -11px 22px #383859;
}

@mixin neumorphic-primary(){
  border-radius: $border-radius-drawer;
background: $color-primary;
box-shadow:  5px 5px 22px #353552,
             -5px -5px 22px #51517e;
}

@mixin neumorphic-primary-inset(){
  border-radius: $border-radius-drawer;
background: linear-gradient(145deg, #3c3c5e, #48486f);
box-shadow:  5px 5px 10px #363653,
             -5px -5px 10px #50507d;
}

@mixin neumorphic-secondary(){
  box-shadow: 12px 12px 24px 0 rgba($color-black,.15), -12px -12px 24px 0 rgba(255, 255, 255,.1)
}

@mixin neumorphic-inner(){
  border-radius: $border-radius-drawer;
background: $color-primary-dark;
box-shadow: inset 11px 11px 22px #26263d,
            inset -11px -11px 22px #383859;
}
@mixin neumorphic-inner-secondary(){
  background: linear-gradient(140deg, rgba($color-secondary-dark,0.08), rgba(255,255,255,0.04));
}

@mixin boxshadow-header {
  box-shadow: 12px 12px 24px 0 rgba(0,0,0,.2) ;
}

@mixin  borderleft() {
  border-left: solid .1rem rgba($color-primary-light, 1);
}

@mixin  borderright() {
  border-right: solid .1rem rgba($color-primary-light, 1);
}

@mixin boxshadow(){
  box-shadow: 0px 0px 30px 12px rgba($color-black,0.12);

}

@mixin change-color-animation($name, $bg-from, $bg-to, $from, $to) {
  @keyframes #{$name} {
    0% {
      background-color: $bg-from;
      color: $from;
    }
    100% {
      background-color: $bg-to;
      color: $to;
    }
  }
}

@mixin slide-in-top-animation($name, $from, $from-opacity, $to, $to-opacity) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
      opacity: $from-opacity;
    }
    100% {
      transform: translateY(to);
      opacity: $to-opacity;
    }
  }
  
}

