// DARKMODE COLORS
$color-black:#0000;
$color-white:#FFFFFF;

$color-primary:#434368;
$color-primary-dark:#2F2F4B;
$color-primary-light:#50507C;

$color-tertiary:#646470;
$color-tertiary-dark:#102326;

$color-secondary:#A46DFC;
$color-secondary-dark:#A475FA;
$color-secondary-dark-1:#9762F9;
$color-secondary-light:#57345E;
$color-secondary-light-1:#5F3A62;
$color-secondary-light-2:#ddd7dc;

$color-yellow:#f5c366;
$color-yellow-dark:#f3aa21;

$color-pink:#BC7562;
$color-pink-light:#db9f8f;

$color-green:#34B05F;
$color-text:#E9EDF2;

$color-luna:#4B4BB1;
$color-sun:#F5C814;

// $color-primary:#F6F6F6;
// $color-primary-light:#ffffff;

// $color-tertiary:#646470;
// $color-tertiary-dark:#102326;

// $color-secondary:#66A387;
// $color-secondary-dark:#41624E;
// $color-secondary-dark-1:#496E58;
// $color-secondary-light:#74ad93;
// $color-secondary-light-1:#BCC5C2;
// $color-secondary-light-2:#d9e0dc;

// $color-yellow:#f5c366;
// $color-yellow-dark:#f3aa21;

// $color-pink:#BC7562;
// $color-pink-light:#db9f8f;

//GAPS
$button-gap:2rem;
$input-gap:2rem;

$row-gap:1.4rem;
$row-gap-medium:3rem;
$row-gap-small:.5rem;

$column-gap:1.4rem;
$column-gap-small:.8rem;

//SIZES
$avatar-size:8rem;
$avatar-size-small: 4.5rem;
$drawer-size:16vw;
$size-icon-medium:1.6rem;

//BORDER RADIUS
$border-radius-drawer:10px